<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">

  <meta name="generator" content="Hugo 0.88.1">
  <title>Myknot.Club</title>

  <link rel="canonical" href="https://www.myknot.club/">
  <!-- JavaScript Bundle with Popper -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
<!--tiny slider-->

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <!-- Bootstrap core CSS -->
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
  <!-- Favicons -->
  <link href="//db.onlinewebfonts.com/c/27cb2381f8e348c531e19a16b9921082?family=Suisse+Works+Bold" rel="stylesheet" type="text/css" />

  <link rel="apple-touch-icon" href="/docs/5.1/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
  <link rel="icon" href="/docs/5.1/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/docs/5.1/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
  <link rel="manifest" href="/docs/5.1/assets/img/favicons/manifest.json">
  <link rel="mask-icon" href="/docs/5.1/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
  <link rel="icon" href="/docs/5.1/assets/img/favicons/favicon.ico">
  <meta name="theme-color" content="#7952b3">


  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>



</head>

<body>
  <% try{ %>
  <% for(let i=0;i<1;i++){ %>
  <div style="background:<%=arr[i].color%>;text-align:center;">
    <p style="padding:15px;margin-bottom:0;color:<%=arr[i].textColor%>"><span style="font-weight:bold;"><%= arr[i].head %></span> | <%= arr[i].description%><br><span><%=arr[i].duration%></span></p>

  </div>
  <%}%>
    <%}catch(e){%>
  <div style="display:collapse;">

  </div>
  <%}%>
   <div class="nav-container" style="position:relative;z-index:2;">
     <nav class="navbar navbar-expand-lg navbar-light" style="padding:0 !important;">
     <div class="container-fluid" style="padding:10px 80px;">
      <a class="navbar-brand" href="#" style="font-weight:bold;"><img style="width:100px;" class="nav-log" src="/images/logo black.png" alt=""></a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           <li class="nav-item">
             <a class="main-menu-option" aria-current="page" href="/">Home</a>
           </li>
           <li class="nav-item">
             <a class="main-menu-option"  href="aboutus">About Us</a>
           </li>
           <li class="nav-item">
             <a class="main-menu-option" href="services">Services</a>
           </li>
           <li class="nav-item">
            <a class="main-menu-option"  href="ourproducts">Our Products</a>
          </li>
           <li class="nav-item">
             <a class="main-menu-option" href="contactus">Contact Us</a>
           </li>
           <!-- <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Dropdown
             </a>
             <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
               <li><a class="dropdown-item" href="#">Action</a></li>
               <li><a class="dropdown-item" href="#">Another action</a></li>
               <li><hr class="dropdown-divider"></li>
               <li><a class="dropdown-item" href="#">Something else here</a></li>
             </ul>
           </li>
           <li class="nav-item">
             <a class="nav-link disabled">Disabled</a>
           </li> -->
         </ul>

         <form class="d-flex" method="post" action="/customsearch" class="search">
           <input class="form-control me-2 form-search"  type="search" name="search" placeholder="Search" aria-label="Search">
           <button   type="submit" class="search-button" ></button>
         </form>
         <a class="cart-icon" href="cart"><img src="images/cart.png" style="width: 40px;"></a>
         <div class="dropdown">
            <img src="images/profile-icon.png" style="width: 50px;"></a>
            <div class="dropdown-content">
              <% if(user) {%>
                <a href="profile">My Profile</a>
                <form id="logout" action="/logout" method="post">
                <a onclick="document.getElementById('logout').submit()" href="#">Logout</a>
              </form>
              <% } else {%>
                <a href="register">Register</a>
                <a href="login">Login</a>
              <% } %>
            </div>
          </div>
       </div>
     </div>
   </nav>
   <div class="category-nav-container">
     <form action="/sub-menu" method="post">
       <ul class="category-nav">

       <a class="nav-list" href="#education">  <li value="Educational" class="category-options">Educational Websites</li></a>
       <a class="nav-list" href="#sport">  <li value="Sports" class="category-options">Sports Websites</li></a>
       <a class="nav-list" href="#e-commerce">  <li value="E-Commerce" class="category-options">E-Commerce Websites</li></a>
       <a class="nav-list" href="#portfolio">  <li value="Portfolio" class="category-options">Portfolio Websites</li></a>
       <a class="nav-list" href="#service">  <li value="Service" class="category-options">Service Websites</li></a>
       <a class="nav-list" href="#nonprofit">  <li value="Nonprofit" class="category-options">Nonprofit Websites</li></a>
       <a class="nav-list" href="#infopreneur">  <li value="Infopreneur" class="category-options">Infopreneur Websites</li></a>
       </ul>
     </form>
   </div>

   </div>

<main>

<!-- #F7F6F2 -->
<!-- background:#D4ECDD; -->
  <section class="py-5 text-center container home-section">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto ">

        <div  style="padding:10px;margin:40px auto 0;margin-bottom:60px;width:80%;text-align:left;">
          <h1 class="main-head">Your dream <span style="color:#8E05C2;">websites and instant apps awaits</span>  <span class="blink" style="font-weight:700;color:#8E05C2;">!</span></h1>
          <p class="lead text-mute myDesc" style="margin-top:20px;text-align:justify !important;">Welcome to our fresh collection of themes. Hope you find your dream website and instant apps here. Start your journey with our themes.</p>
          <form action="aboutus" method="get">
            <button type="submit" class="get-started-button" >About Us ></button>
          </form>

        </div>

      </div>
      <div class="col-lg-6 col-md-8 mx-auto back" style="height:400px;">

      </div>


    </div>
  </section>

  <div class="album py-5">

    <div class="container">
      <div class="head-font" style="margin-bottom:20px;">
        <h3>Lets start our search,</h3>
      </div>
      <section id="education">
      <% for(let i=0;i<array.length;i++){%>
  <!-- style="color:#9400FF;" -->
  <!-- previous sub head title colour -->
  <% if(array[i].type=="Educational"){%>
  <h5 class="sub-head-font" style="font-weight:bolder;margin-bottom:15px;"><span>Educational</span> Websites & Apps </h5>
  <% break; %>
  <%}%>
       <%}%><img class="slider-arrow education-arrow" src="/images/arrow.png" >
<div class="scrolling-wrapper education">
  <% for(let i=0;i<1;i++){%>

    <% if(array[i].type=="Educational"){%>
    <div class="car1">
      <img src="data:image/jpeg;charset=utf-8;base64,<%=array[i].thumbnail.toString('base64')%>"  style="width:100%;height:200px;object-fit: fill;" data-bs-toggle="popover" title="<h6><%=array[i].title%></h6>" data-bs-content="<p><%=array[i].description%></p><form action='/form' target='_blank' method='post'>

                         <button type='submit' name='select' value='<%=array[i].title%>' class='select-button' >Select</button>
                         <button type='submit' name='view' value='<%=array[i].url%>' class='view-button' >View</button>
                         <button type='button' class='price-button'><%= array[i].price%></button>
                 </form>" tabindex="0">
      <%  let str = array[i].title;if(str.length>35){ str = str.substring(0,35)+"...";}%>
      <p class="theme-title1"><%= str %></p>
      <% let strDesc = array[i].description;if(strDesc.length>35){strDesc = strDesc.substring(0,35)+"...";}%>
      <p class="theme-desc1"><%= strDesc %></p>
      <div class="mob-select-div">
        <form action='/form' method='post'>
          <button type='submit' name='title' value='<%=array[i].title%>' class='mob-select-button'>Select</button>
        </form>
      </div>
      <div class="mob-view-div">
        <a href="<%=array[i].url%>" target="_blank" class="mob-view-button">View</a>
      </div>
      <div class="mob-price-div">
        <button type='button'class='mob-price-button'><%= array[i].price%></button>
      </div>
    </div>
    <!-- <div class="card-hover">afaf</div> -->
    <%}%>
          <%}%>
    <% for(let i=1;i<array.length;i++){%>

    <% if(array[i].type=="Educational"){%>
    <div class="car">
      <img src="data:image/jpeg;charset=utf-8;base64,<%=array[i].thumbnail.toString('base64')%>"  style="width:100%;height:200px;object-fit: fill;" data-bs-toggle="popover" title="<h6><%=array[i].title%></h6>" data-bs-content="<p><%=array[i].description%></p><br><form action='/form' method='post'>
                    <button type='submit' name='select' value='<%=array[i].title%>' class='select-button' >Select</button>
                    <button type='submit' name='view' value='<%=array[i].url%>' class='view-button' >View</button>
                    <button type='button' class='price-button'><%= array[i].price%></button>
                  </form>" tabindex="0">
      <%  let str = array[i].title;if(str.length>35){ str = str.substring(0,35)+"...";}%>
      <p class="theme-title1"><%= str %></p>
      <% let strDesc = array[i].description;if(strDesc.length>35){strDesc = strDesc.substring(0,35)+"...";}%>
      <p class="theme-desc1"><%= strDesc %></p>
      <!-- <p style="width:200px;word-wrap: break-word; ">a book or other written or printed work, regarded in terms of its content rather than its physical form.</p> -->
      <div class="mob-select-div">
        <form action='/form' method='post'>
          <button type='submit' name='title' value='<%=array[i].title%>' class='mob-select-button'>Select</button>
        </form>
      </div>
      <div class="mob-view-div">
        <a href="<%=array[i].url%>" target="_blank" class="mob-view-button">View</a>
      </div>
      <div class="mob-price-div">
        <button type='button'class='mob-price-button'><%= array[i].price%></button>
      </div>
    </div>
    <%}%>
           <%}%>

  </div>
</section>
<section id="nonprofit">
  <% for(let i=0;i<array.length;i++){%>

  <% if(array[i].type=="Nonprofit"){%>
  <h5 class="sub-head-font" style="font-weight:bolder;margin-bottom:15px;"><span>Nonprofit</span> Websites & Apps</h5>
  <% break; %>
  <%}%>
       <%}%>
    <img class="slider-arrow nonprofit-arrow" src="/images/arrow.png">
  <div class="scrolling-wrapper nonprofit">
    <%let c=0;%>
    <% for(let i=0;i<array.length;i++){%>

    <% if(array[i].type=="Nonprofit"){%>
    <%if(c==0){%>
    <div class="car1">
      <img src="data:image/jpeg;charset=utf-8;base64,<%=array[i].thumbnail.toString('base64')%>"  style="width:100%;height:200px;object-fit: fill;" data-bs-toggle="popover" title="<h6><%=array[i].title%></h6>" data-bs-content="<p><%=array[i].description%></p><br><form action='/form' method='post'>
                         <button type='submit' name='select' value='<%=array[i].title%>' class='select-button' >Select</button>
                         <button type='submit' name='view' value='<%=array[i].url%>' class='view-button' >View</button>
                         <button type='button' class='price-button'><%= array[i].price%></button>
                        </form>" tabindex="0">
      <%  let str = array[i].title;if(str.length>35){ str = str.substring(0,35)+"...";}%>
      <p class="theme-title1"><%= str %></p>
      <% let strDesc = array[i].description;if(strDesc.length>35){strDesc = strDesc.substring(0,35)+"...";}%>
      <p class="theme-desc1"><%= strDesc %></p>
      <div class="mob-select-div">
        <form action='/form' method='post'>
          <button type='submit' name='title' value='<%=array[i].title%>' class='mob-select-button'>Select</button>
        </form>
      </div>
      <div class="mob-view-div">
        <a href="<%=array[i].url%>" target="_blank" class="mob-view-button">View</a>
      </div>
       <div class="mob-price-div">
        <button type='button'class='mob-price-button'><%= array[i].price%></button>
      </div>
    </div>


    <% }else{%>
    <div class="car">
      <img src="data:image/jpeg;charset=utf-8;base64,<%=array[i].thumbnail.toString('base64')%>"  style="width:100%;height:200px;object-fit: fill;" data-bs-toggle="popover" title="<h6><%=array[i].title%></h6>" data-bs-content="<p><%=array[i].description%></p><br><form action='/form' method='post'>
                        <button type='submit' name='select' value='<%=array[i].title%>' class='select-button' >Select</button>
                        <button type='submit' name='view' value='<%=array[i].url%>' class='view-button' >View</button>
                        <button type='button' class='price-button'><%= array[i].price%></button>
                      </form>" tabindex="0">
      <%  let str = array[i].title;if(str.length>35){ str = str.substring(0,35)+"...";}%>
      <p class="theme-title1"><%= str %></p>
      <% let strDesc = array[i].description;if(strDesc.length>35){strDesc = strDesc.substring(0,35)+"...";}%>
      <p class="theme-desc1"><%= strDesc %></p>
      <div class="mob-select-div">
        <form action='/form' method='post'>
          <button type='submit' name='title' value='<%=array[i].title%>' class='mob-select-button'>Select</button>
        </form>
      </div>
      <div class="mob-view-div">
        <a href="<%=array[i].url%>" target="_blank" class="mob-view-button">View</a>
      </div>
      <div class="mob-price-div">
        <button type='button'class='mob-price-button'><%= array[i].price%></button>
      </div>
      <!-- <p style="width:200px;word-wrap: break-word; ">a book or other written or printed work, regarded in terms of its content rather than its physical form.</p> -->
    </div>
    <%  }%>
    <%c++;%>
    <%}%>
           <%}%>

  </div>
</section>
<section id="sport">
  <% for(let i=0;i<array.length;i++){%>

  <% if(array[i].type=="Sports"){%>
  <h5 class="sub-head-font" style="font-weight:bolder;margin-bottom:15px;"><span>Sports</span> Websites & Apps</h5>
  <% break; %>
  <%}%>
       <%}%>
<img class="slider-arrow sport-arrow" src="/images/arrow.png">
  <div class="scrolling-wrapper sport">
    <%let d=0;%>
    <% for(let i=0;i<array.length;i++){%>

    <% if(array[i].type=="Sports"){%>
    <%if(d==0){%>
    <div class="car1">
      <img src="data:image/jpeg;charset=utf-8;base64,<%=array[i].thumbnail.toString('base64')%>"  style="width:100%;height:200px;object-fit: fill;" data-bs-toggle="popover" title="<h6><%=array[i].title%></h6>" data-bs-content="<p><%=array[i].description%></p><br><form action='/form' method='post'>
                         <button type='submit' name='select' value='<%=array[i].title%>' class='select-button' >Select</button>
                         <button type='submit' name='view' value='<%=array[i].url%>' class='view-button' >View</button>
                         <button type='button' class='price-button'><%= array[i].price%></button>
                        </form>" tabindex="0">
      <%  let str = array[i].title;if(str.length>35){ str = str.substring(0,35)+"...";}%>
      <p class="theme-title1"><%= str %></p>
      <% let strDesc = array[i].description;if(strDesc.length>35){strDesc = strDesc.substring(0,35)+"...";}%>
      <p class="theme-desc1"><%= strDesc %></p>
      <div class="mob-select-div">
        <form action='/form' method='post'>
          <button type='submit' name='title' value='<%=array[i].title%>' class='mob-select-button'>Select</button>
        </form>
      </div>
      <div class="mob-view-div">
        <a href="<%=array[i].url%>" target="_blank" class="mob-view-button">View</a>
      </div>
      <div class="mob-price-div">
        <button type='button'class='mob-price-button'><%= array[i].price%></button>
      </div>
    </div>


    <% }else{%>
    <div class="car">
      <img src="data:image/jpeg;charset=utf-8;base64,<%=array[i].thumbnail.toString('base64')%>"  style="width:100%;height:200px;object-fit: fill;" data-bs-toggle="popover" title="<h6><%=array[i].title%></h6>" data-bs-content="<p><%=array[i].description%></p><br><form action='/form' method='post'>
                        <button type='submit' name='select' value='<%=array[i].title%>' class='select-button' >Select</button>
                        <button type='submit' name='view' value='<%=array[i].url%>' class='view-button' >View</button>
                        <button type='button' class='price-button'><%= array[i].price%></button>
                      </form>" tabindex="0">
      <%  let str = array[i].title;if(str.length>35){ str = str.substring(0,35)+"...";}%>
      <p class="theme-title1"><%= str %></p>
      <% let strDesc = array[i].description;if(strDesc.length>35){strDesc = strDesc.substring(0,35)+"...";}%>
      <p class="theme-desc1"><%= strDesc %></p>
      <!-- <p style="width:200px;word-wrap: break-word; ">a book or other written or printed work, regarded in terms of its content rather than its physical form.</p> -->
      <div class="mob-select-div">
        <form action='/form' method='post'>
          <button type='submit' name='title' value='<%=array[i].title%>' class='mob-select-button'>Select</button>
        </form>
      </div>
      <div class="mob-view-div">
        <a href="<%=array[i].url%>" target="_blank" class="mob-view-button">View</a>
      </div>
      <div class="mob-price-div">
        <button type='button'class='mob-price-button'><%= array[i].price%></button>
      </div>
    </div>
    <%  }%>
    <%d++;%>
    <%}%>
           <%}%>

  </div>
</section>
<section id="e-commerce">
  <% for(let i=0;i<array.length;i++){%>

  <% if(array[i].type=="E-Commerce"){%>
  <h5 class="sub-head-font" style="font-weight:bolder;margin-bottom:15px;"><span>E-Commerce</span> Websites & Apps</h5>
  <% break; %>
  <%}%>
       <%}%>
       <img class="slider-arrow e-commerce-arrow" src="/images/arrow.png" >
  <div class="scrolling-wrapper e-commerce">
    <%let e=0;%>
    <% for(let i=0;i<array.length;i++){%>

    <% if(array[i].type=="E-Commerce"){%>
    <%if(e==0){%>
    <div class="car1">
      <img src="data:image/jpeg;charset=utf-8;base64,<%=array[i].thumbnail.toString('base64')%>"  style="width:100%;height:200px;object-fit: fill;" data-bs-toggle="popover" title="<h6><%=array[i].title%></h6>" data-bs-content="<p><%=array[i].description%></p><br><form action='/form' method='post'>
                         <button type='submit' name='select' value='<%=array[i].title%>' class='select-button' >Select</button>
                         <button type='submit' name='view' value='<%=array[i].url%>' class='view-button' >View</button>
                           <button type='button' class='price-button'><%= array[i].price%></button>
                    </form>" tabindex="0">
      <%  let str = array[i].title;if(str.length>35){ str = str.substring(0,35)+"...";}%>
      <p class="theme-title1"><%= str %></p>
      <% let strDesc = array[i].description;if(strDesc.length>35){strDesc = strDesc.substring(0,35)+"...";}%>
      <p class="theme-desc1"><%= strDesc %></p>
      <div class="mob-select-div">
        <form action='/form' method='post'>
          <button type='submit' name='title' value='<%=array[i].title%>' class='mob-select-button'>Select</button>
        </form>
      </div>
      <div class="mob-view-div">
        <a href="<%=array[i].url%>" target="_blank" class="mob-view-button">View</a>
      </div>
      <div class="mob-price-div">
        <button type='button'class='mob-price-button'><%= array[i].price%></button>
      </div>
    </div>


    <% }else{%>
    <div class="car">
      <img src="data:image/jpeg;charset=utf-8;base64,<%=array[i].thumbnail.toString('base64')%>"  style="width:100%;height:200px;object-fit: fill;" data-bs-toggle="popover" title="<h6><%=array[i].title%></h6>" data-bs-content="<p><%=array[i].description%></p><br><form action='/form' method='post'>
                        <button type='submit' name='select' value='<%=array[i].title%>' class='select-button' >Select</button>
                        <button type='submit' name='view' value='<%=array[i].url%>' class='view-button' >View</button>
                        <button type='button' class='price-button'><%= array[i].price%></button>
                      </form>" tabindex="0">
      <%  let str = array[i].title;if(str.length>35){ str = str.substring(0,35)+"...";}%>
      <p class="theme-title1"><%= str %></p>
      <% let strDesc = array[i].description;if(strDesc.length>35){strDesc = strDesc.substring(0,35)+"...";}%>
      <p class="theme-desc1"><%= strDesc %></p>
      <!-- <p style="width:200px;word-wrap: break-word; ">a book or other written or printed work, regarded in terms of its content rather than its physical form.</p> -->
      <div class="mob-select-div">
        <form action='/form' method='post'>
          <button type='submit' name='title' value='<%=array[i].title%>' class='mob-select-button'>Select</button>
        </form>
      </div>
      <div class="mob-view-div">
        <a href="<%=array[i].url%>" target="_blank" class="mob-view-button">View</a>
      </div>
      <div class="mob-price-div">
        <button type='button'class='mob-price-button'><%= array[i].price%></button>
      </div>
    </div>
    <%  }%>
    <%e++;%>
    <%}%>
           <%}%>

  </div>
</section>
<section id="portfolio">
  <% for(let i=0;i<array.length;i++){%>

  <% if(array[i].type=="Portfolio"){%>
  <h5 class="sub-head-font" style="font-weight:bolder;margin-bottom:15px;"><span>Portfolio</span> Websites & Apps</h5>
  <% break; %>
  <%}%>
       <%}%>
<img class="slider-arrow portfolio-arrow" src="/images/arrow.png">
       <div class="scrolling-wrapper portfolio">
    <%let f=0;%>
    <% for(let i=0;i<array.length;i++){%>

    <% if(array[i].type=="Portfolio"){%>
    <%if(f==0){%>
    <div class="car1">
      <img src="data:image/jpeg;charset=utf-8;base64,<%=array[i].thumbnail.toString('base64')%>"  style="width:100%;height:200px;object-fit: fill;" data-bs-toggle="popover" title="<h6><%=array[i].title%></h6>" data-bs-content="<p><%=array[i].description%></p><br><form action='/form' method='post'>

                         <button type='submit' name='select' value='<%=array[i].title%>' class='select-button' >Select</button>
                         <button type='submit' name='view' value='<%=array[i].url%>' class='view-button' >View</button>
                         <button type='button' class='price-button'><%= array[i].price%></button>
                      </form>" tabindex="0">
      <%  let str = array[i].title;if(str.length>35){ str = str.substring(0,35)+"...";}%>
      <p class="theme-title1"><%= str %></p>
      <% let strDesc = array[i].description;if(strDesc.length>35){strDesc = strDesc.substring(0,35)+"...";}%>
      <p class="theme-desc1"><%= strDesc %></p>
      <div class="mob-select-div">
        <form action='/form' method='post'>
          <button type='submit' name='title' value='<%=array[i].title%>' class='mob-select-button'>Select</button>
        </form>
      </div>
      <div class="mob-view-div">
        <a href="<%=array[i].url%>" target="_blank" class="mob-view-button">View</a>
      </div>
      <div class="mob-price-div">
        <button type='button'class='mob-price-button'><%= array[i].price%></button>
      </div>
    </div>


    <% }else{%>
    <div class="car">
      <img src="data:image/jpeg;charset=utf-8;base64,<%=array[i].thumbnail.toString('base64')%>"  style="width:100%;height:200px;object-fit: fill;" data-bs-toggle="popover" title="<h6><%=array[i].title%></h6>" data-bs-content="<p><%=array[i].description%></p><br><form action='/form' method='post'>
                        <button type='submit' name='select' value='<%=array[i].title%>' class='select-button' >Select</button>
                        <button type='submit' name='view' value='<%=array[i].url%>' class='view-button' >View</button>
                        <button type='button' class='price-button'><%= array[i].price%></button>
                      </form>" tabindex="0">
      <%  let str = array[i].title;if(str.length>35){ str = str.substring(0,35)+"...";}%>
      <p class="theme-title1"><%= str %></p>
      <% let strDesc = array[i].description;if(strDesc.length>35){strDesc = strDesc.substring(0,35)+"...";}%>
      <p class="theme-desc1"><%= strDesc %></p>
      <!-- <p style="width:200px;word-wrap: break-word; ">a book or other written or printed work, regarded in terms of its content rather than its physical form.</p> -->
      <div class="mob-select-div">
        <form action='/form' method='post'>
          <button type='submit' name='title' value='<%=array[i].title%>' class='mob-select-button'>Select</button>
        </form>
      </div>
      <div class="mob-view-div">
        <a href="<%=array[i].url%>" target="_blank" class="mob-view-button">View</a>
      </div>
      <div class="mob-price-div">
        <button type='button'class='mob-price-button'><%= array[i].price%></button>
      </div>
    </div>
    <%  }%>
    <%f++;%>
    <%}%>
           <%}%>

  </div>
</section>
<section id="service">
  <% for(let i=0;i<array.length;i++){%>

  <% if(array[i].type=="Service"){%>
  <h5 class="sub-head-font" style="font-weight:bolder;margin-bottom:15px;"><span>Service</span> Websites & Apps</h5>
  <% break; %>
  <%}%>
       <%}%>
       <img class="slider-arrow service-arrow" src="/images/arrow.png" >
       <div class="scrolling-wrapper service">
    <%let g=0;%>
    <% for(let i=0;i<array.length;i++){%>

    <% if(array[i].type=="Service"){%>
    <%if(g==0){%>
    <div class="car1">
      <img src="data:image/jpeg;charset=utf-8;base64,<%=array[i].thumbnail.toString('base64')%>"  style="width:100%;height:200px;object-fit: fill;" data-bs-toggle="popover" title="<h6><%=array[i].title%></h6>" data-bs-content="<p><%=array[i].description%></p><br><form action='/form' method='post'>
                         <button type='submit' name='select' value='<%=array[i].title%>' class='select-button' >Select</button>
                         <button type='submit' name='view' value='<%=array[i].url%>' class='view-button' >View</button>
                         <button type='button' class='price-button'><%= array[i].price%></button>
                        </form>" tabindex="0">
      <%  let str = array[i].title;if(str.length>35){ str = str.substring(0,35)+"...";}%>
      <p class="theme-title1"><%= str %></p>
      <% let strDesc = array[i].description;if(strDesc.length>35){strDesc = strDesc.substring(0,35)+"...";}%>
      <p class="theme-desc1"><%= strDesc %></p>
      <div class="mob-select-div">
        <form action='/form' method='post'>
          <button type='submit' name='title' value='<%=array[i].title%>' class='mob-select-button'>Select</button>
        </form>
      </div>
      <div class="mob-view-div">
        <a href="<%=array[i].url%>" target="_blank" class="mob-view-button">View</a>
      </div>
      <div class="mob-price-div">
        <button type='button'class='mob-price-button'><%= array[i].price%></button>
      </div>
    </div>


    <% }else{%>
    <div class="car">
      <img src="data:image/jpeg;charset=utf-8;base64,<%=array[i].thumbnail.toString('base64')%>"  style="width:100%;height:200px;object-fit: fill;" data-bs-toggle="popover" title="<h6><%=array[i].title%></h6>" data-bs-content="<p><%=array[i].description%></p><br><form action='/form' method='post'>
                        <button type='submit' name='select' value='<%=array[i].title%>' class='select-button' >Select</button>
                        <button type='submit' name='view' value='<%=array[i].url%>' class='view-button' >View</button>
                        <button type='button' class='price-button'><%= array[i].price%></button>
                      </form>" tabindex="0">
      <%  let str = array[i].title;if(str.length>35){ str = str.substring(0,35)+"...";}%>
      <p class="theme-title1"><%= str %></p>
      <% let strDesc = array[i].description;if(strDesc.length>35){strDesc = strDesc.substring(0,35)+"...";}%>
      <p class="theme-desc1"><%= strDesc %></p>
      <!-- <p style="width:200px;word-wrap: break-word; ">a book or other written or printed work, regarded in terms of its content rather than its physical form.</p> -->
      <div class="mob-select-div">
        <form action='/form' method='post'>
          <button type='submit' name='title' value='<%=array[i].title%>' class='mob-select-button'>Select</button>
        </form>
      </div>
      <div class="mob-view-div">
        <a href="<%=array[i].url%>" target="_blank" class="mob-view-button">View</a>
      </div>
      <div class="mob-price-div">
        <button type='button'class='mob-price-button'><%= array[i].price%></button>
      </div>
    </div>
    <%  }%>
    <%g++;%>
    <%}%>
           <%}%>

  </div>
</section>
<section id="infopreneur">
  <% for(let i=0;i<array.length;i++){%>

  <% if(array[i].type=="Infopreneur"){%>
  <h5 class="sub-head-font" style="font-weight:bolder;margin-bottom:15px;"><span>Infopreneur</span> Websites & Apps</h5>
  <% break; %>
  <%}%>
       <%}%>       
       <!-- <img class="slider-arrow infopreneur-arrow" src="/images/arrow.png" > -->
  <div class="scrolling-wrapper infopreneur">
    <%let h=0;%>
    <% for(let i=0;i<array.length;i++){%>

    <% if(array[i].type=="Infopreneur"){%>
    <%if(h==0){%>
    <div class="car1">
      <img src="data:image/jpeg;charset=utf-8;base64,<%=array[i].thumbnail.toString('base64')%>"  style="width:100%;height:200px;object-fit: fill;" data-bs-toggle="popover" title="<h6><%=array[i].title%></h6>" data-bs-content="<p><%=array[i].description%></p><br><form action='/form' method='post'>
                         <button type='submit' name='select' value='<%=array[i].title%>' class='select-button' >Select</button>
                         <button type='submit' name='view' value='<%=array[i].url%>' class='view-button' >View</button>
                         <button type='button' class='price-button'><%= array[i].price%></button>
                        </form>" tabindex="0">
      <%  let str = array[i].title;if(str.length>35){ str = str.substring(0,35)+"...";}%>
      <p class="theme-title1"><%= str %></p>
      <% let strDesc = array[i].description;if(strDesc.length>35){strDesc = strDesc.substring(0,35)+"...";}%>
      <p class="theme-desc1"><%= strDesc %></p>
      <div class="mob-select-div">
        <form action='/form' method='post'>
          <button type='submit' name='title' value='<%=array[i].title%>' class='mob-select-button'>Select</button>
        </form>
      </div>
      <div class="mob-view-div">
        <a href="<%=array[i].url%>" target="_blank" class="mob-view-button">View</a>
      </div>
      <div class="mob-price-div">
        <button type='button'class='mob-price-button'><%= array[i].price%></button>
      </div>
    </div>


    <% }else{%>
    <div class="car">
      <img src="data:image/jpeg;charset=utf-8;base64,<%=array[i].thumbnail.toString('base64')%>"  style="width:100%;height:200px;object-fit: fill;" data-bs-toggle="popover" title="<h6><%=array[i].title%></h6>" data-bs-content="<p><%=array[i].description%></p><br><form action='/form' method='post'>
                        <button type='submit' name='select' value='<%=array[i].title%>' class='select-button' >Select</button>
                        <button type='submit' name='view' value='<%=array[i].url%>' class='view-button' >View</button>
                        <button type='button' class='price-button'><%= array[i].price%></button>
                      </form>" tabindex="0">
      <%  let str = array[i].title;if(str.length>35){ str = str.substring(0,35)+"...";}%>
      <p class="theme-title1"><%= str %></p>
      <% let strDesc = array[i].description;if(strDesc.length>35){strDesc = strDesc.substring(0,35)+"...";}%>
      <p class="theme-desc1"><%= strDesc %></p>
      <!-- <p style="width:200px;word-wrap: break-word; ">a book or other written or printed work, regarded in terms of its content rather than its physical form.</p> -->
      <div class="mob-select-div">
        <form action='/form' method='post'>
          <button type='submit' name='title' value='<%=array[i].title%>' class='mob-select-button'>Select</button>
        </form>
      </div>
      <div class="mob-view-div">
        <a href="<%=array[i].url%>" target="_blank" target="_blank" class="mob-view-button">View</a>
      </div>
      <div class="mob-price-div">
        <button type='button'class='mob-price-button'><%= array[i].price%></button>
      </div>
    </div>
    <%  }%>
    <%h++;%>
    <%}%>
           <%}%>

  </div>
</section>

  </div>








  </div>

  </div>
<script>
  var edu = tns({container: ".education","items": 3,"slideBy":3,autoplay: true,autoplayHoverPause:true,autoplayButtonOutput: false,controls :false,nav:false,preventScrollOnTouch: 'force',rewind:true, responsive: {1100: {items: 3,},770: {items: 2,slideBy:2,},320: {items: 1,slideBy:1,}}});
  var spo = tns({container: ".sport","items": 3,"slideBy":3,autoplay: true,autoplayHoverPause:true,autoplayButtonOutput: false,controls :false,nav:false,preventScrollOnTouch: 'force',rewind:true, responsive: {1100: {items: 3,},770: {items: 2,slideBy:2,},320: {items: 1,slideBy:1,}}});
  var ecom = tns({container: ".e-commerce","items": 3,"slideBy":3,autoplay: true,autoplayHoverPause:true,autoplayButtonOutput: false,controls :false,nav:false,preventScrollOnTouch: 'force',rewind:true, responsive: {1100: {items: 3,},770: {items: 2,slideBy:2,},320: {items: 1,slideBy:1,}}});
  var serv = tns({container: ".service","items": 3,"slideBy":3,autoplay: true,autoplayHoverPause:true,autoplayButtonOutput: false,controls :false,nav:false,preventScrollOnTouch: 'force',rewind:true, responsive: {1100: {items: 3,},770: {items: 2,slideBy:2,},320: {items: 1,slideBy:1,}}});
  var port = tns({container: ".portfolio","items": 3,"slideBy":3,autoplay: true,autoplayHoverPause:true,autoplayButtonOutput: false,controls :false,nav:false,preventScrollOnTouch: 'force',rewind:true, responsive: {1100: {items: 3,},770: {items: 2,slideBy:2,},320: {items: 1,slideBy:1,}}});
  var nonp = tns({container: ".nonprofit","items": 3,"slideBy":3,autoplay: true,autoplayHoverPause:true,autoplayButtonOutput: false,controls :false,nav:false,preventScrollOnTouch: 'force',rewind:true, responsive: {1100: {items: 3,},770: {items: 2,slideBy:2,},320: {items: 1,slideBy:1,}}});
  var infop = tns({container: ".infopreneur","items": 3,"slideBy":3,autoplay: true,autoplayHoverPause:true,autoplayButtonOutput: false,controls :false,nav:false,preventScrollOnTouch: 'force',rewind:true, responsive: {1100: {items: 3,},770: {items: 2,slideBy:2,},320: {items: 1,slideBy:1,}}});
  
  document.querySelector('.education-arrow').onclick = function () { edu.goTo('next');};
  document.querySelector('.sport-arrow').onclick = function () {spo.goTo('next');};
  document.querySelector('.e-commerce-arrow').onclick = function () {ecom.goTo('next');};
  document.querySelector('.service-arrow').onclick = function () {serv.goTo('next');};
  document.querySelector('.portfolio-arrow').onclick = function () {port.goTo('next');};
  document.querySelector('.nonprofit-arrow').onclick = function () {nonp.goTo('next');};
  document.querySelector('.infopreneur-arrow').onclick = function () {infop.goTo('next');};
</script>

  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  </main>

  <%- include("footer") -%>
