<%-include("header")-%>
<% if(messages.loggedin) { %>
  <h5 style=" color: green; text-align: center;"><img style='height: 30px;' src="images/success-icon.png"><%= messages.loggedin %></h5>
<% } %>
<div class="content" style="padding:2rem 0">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <% if(user) {%>
        
        <div class="row justify-content-center">
          <div class="col-md-6">

            <h3 class="heading mb-4">Your Profile!</h3>


            <p><img src="images/manDev.png" alt="Image" class="img-fluid"></p>


          </div>
          <div class="col-md-6">
            <h5>Update Your Details!</h5>
            <form class="mb-5" id="myForm" method="post" action="/updateuser">
                <input type="hidden" name="id" value="<%=user._id %>">
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="text"  class="form-control" name="name" id="name" value="<%=user.name %>" >
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="email" class="form-control" name="email" id="email" value="<%=user.email %>" disabled >
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control" name="cname" id="companyName" value="<%=user.companyName %>" placeholder="Your company name (optional)" >
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="number" class="form-control" name="phone" id="Phone" value="<%=user.phoneno %>" placeholder="Your Phone Number" >
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <button type="submit"  class="btnn btnn-primary rounded-0 py-2 px-4">Update</button>
  
                    <span class="submitting"></span>
                  </div>
                </div>
              </form>

            <div id="form-message-warning mt-4"></div>
            <div id="form-message-success">
              Your message was sent, thank you!
            </div>
          </div>
        </div>
        <% } else {%>
          <h3 class="heading mb-4">You have not logged in. Please Login By clicking the button below!</h3>
          <a href="login"><button type="button" class="btnn btnn-primary rounded-0 py-2 px-4">Login</button></a>


        <% } %>
      </div>
    </div>
  </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<%-include("footer")-%>
